@font-face {
    font-family: 'minecraft';
    src: url(./minecraft_font.ttf) format('truetype');
}
body {
    margin: 0;
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% auto;
    background-color: black;
}
#countdown {
    color: white;
    font-family: minecraft;
    text-align: right;
    position: absolute;
    right: 20px;
    top: 20px;
}
.background-image-scaler {
    display: none;
}

/* Background Fade In */
body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: black;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-animation: myfirst 2s ; /* Chrome, Safari, Opera */
    animation: myfirst 2s ;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {opacity: 1;}
    to {opacity: 0;}
}
/* Standard syntax */
@keyframes myfirst {
    from {opacity: 1;}
    to {opacity: 0;}
}